# This is a basic workflow to help you get started with Actions

name: app4 
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
   
      steps:

    - uses: actions/checkout@v2
  
    - name: installing node.js
      uses: actions/setup-node@v2-beta
      with:
        version: 12

    - name: yarn action
      uses: Borales/actions-yarn@v2.1.0
      with:
       cmd: install
       
    - name: building yarn
      run: yarn build
      
    - name: installing on surge
      run: npm install --global surge

    - name: deploying on surge
      run: surge ./build http://pink-red.surge.sh/ --token ${{secrets.SURGE_TOKEN}} 
      
       
       - 
